body {

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;

    background: #F3F5FC;

}

#logo {

    padding: 0px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
    padding: 0px;

}

#inputText {

    position: absolute;
    left: 240px;
    top: 168px;

}

#inputText #input_text {

    position: absolute;
    width: 680px;
    height: 576px;
    padding: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
    background-color: #F3F5FC;
    border-style: none;
    outline: none;
    resize: none;

}

#viewArea {

    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border-style: none;

}

#viewArea #man_img {

    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
}

#viewArea #first_info_image {

    position: absolute;
    width: 336px;
    height: 29px;
    left: 32px;
    top: 579px;
    margin: 0px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;
    color: #343A40;

}

#viewArea #second_info_image {

    position: absolute;
    width: 336px;
    height: 48px;
    left: 32px;
    top: 624px;
    margin: 0px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    color: #495057;

}

#viewArea #view_area {

    position: absolute;
    width: 336px;
    height: 749px;
    padding: 32px;
    
    background: #FFFFFF;
    border-radius: 32px;
    border-style: none;
    outline: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #495057;

    resize: none;

}

#viewArea #button_copy {

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;
    padding: 24px;
    margin: 0px 8px;

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    background: #FFFFFF;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    cursor: pointer;

}

#buttons {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

}

#buttons #button_encrypt {

    position: absolute;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    padding: 22px;

    background: #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;

}

#buttons #button_decrypt {

    position: absolute;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    padding: 22px;

    background: #D8DFE8;

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    cursor: pointer;

}

#info {

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
    padding: 0px;

}

#info #info_icono {

    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;

}

#info #info_paragraph {

    position: absolute;
    width: 229px;
    height: 18px;
    left: 24px;
    top: 0px;
    margin: 0px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}

@media screen and (max-width: 1920px) and (max-height: 1080px) {

    #inputText #input_text {

        height: 282px;

    }

    #viewArea {

        height: 660px;
    
    }

    #viewArea #man_img {

        top: 100px;
        
    }
    
    #viewArea #first_info_image {
    
        top: 436px;
    
    }
    
    #viewArea #second_info_image {
    
        top: 481px;
    
    }
    
    #viewArea #view_area {

        height: 455px;
    
    }
    
    #viewArea #button_copy {
    
        top: 551px;
    
    }
    
    #buttons {
    
        top: 591px;
    
    }
    
    
    #info {
    
        top: 557px;
    
    }

}

@media screen and (max-width: 1366px) and (max-height: 768px) {

    #inputText {

        top: 77px;
        left: 200px;
    
    }


    #inputText #input_text {

        height: 282px;

    }

    #viewArea {

        height: 565px;
        left: 930px;
    
    }

    #viewArea #man_img {

        top: 50px;
        
    }
    
    #viewArea #first_info_image {
    
        top: 386px;
    
    }
    
    #viewArea #second_info_image {
    
        top: 431px;
    
    }
    
    #viewArea #view_area {

        height: 345px;
    
    }
    
    #viewArea #button_copy {
    
        top: 460px;
    
    }
    
    #buttons {
    
        top: 500px;
        left: 200px;
    
    }
    
    
    #info {
    
        top: 466px;
        left: 200px;
    
    }

}

